$body-color: #fff1db;
$blue-color: #1e90ff;

html {
  height: 100%;
}

body {
  background-color: $body-color;
  font-family: -apple-system, Helvetica Neue, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

// Element shoppable style
.shoppable--img {
  position: relative;
  overflow: hidden;
}

.dot {
  position: absolute;
  cursor: pointer;
  background-color: #f00;
  border-radius: 999px;
  height: 15px;
  width: 15px;
}

// Tooltip  style
.tooltip {
  z-index: 100;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  width: 200px;
  background: #fff;
  padding: .75rem 1rem;
  font-size: 13px;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 50ms ease-in-out;

  &.hide, &.hide .arrow::before {
    opacity: 0;
    visibility: hidden;
  }
}

.title--tooltip {
  text-transform: uppercase;
  font-weight: bold;
}

.description--tooltip {
  position: relative;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.btn--tooltip {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: $blue-color;
  border-radius: 3px;
  padding: .25rem 1rem;
}

.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.arrow {
  visibility: hidden;
}

.arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

.tooltip[data-popper-placement^='top'] > .arrow {
  bottom: -4px;
}

.tooltip[data-popper-placement^='bottom'] > .arrow {
  top: -4px;
}

.tooltip[data-popper-placement^='left'] > .arrow {
  right: -4px;
}

.tooltip[data-popper-placement^='right'] > .arrow {
  left: -4px;
}
