$blue-color: #1e90ff;

body {
  margin: 0;
  font-family: -apple-system, Helvetica Neue, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, sans-serif;
}

// Element shoppable style
div[data-shoppable-img] {
  img {
    width: 100%;
  }
}

.dot {
  position: absolute;
  cursor: pointer;
  background-color: #f00;
  border-radius: 999px;
  height: 15px;
  width: 15px;
}

// Tooltip  style
.tooltip {
  z-index: 100;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .4rem;
  width: 150px;
  background: #fff;
  padding: .75rem 1rem;
  border-radius: 3px;
  opacity: 1;
  transition: opacity 50ms ease-in-out;
  box-shadow: 0 0 6px rgba(0, 0, 0, .3);

  &.hide, &.hide .arrow::before {
    opacity: 0;
    visibility: hidden;
  }
}

.title--tooltip {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.description--tooltip {
  margin: 0;
  width: 100%;
  font-size: 1rem;
  position: relative;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.btn--tooltip {
  font-size: .75rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: $blue-color;
  border-radius: 3px;
  margin-top: .1rem;
  padding: .25rem 1rem;
}

.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.arrow {
  visibility: hidden;
}

.arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

.tooltip[data-popper-placement^='top'] > .arrow {
  bottom: -4px;
}

.tooltip[data-popper-placement^='bottom'] > .arrow {
  top: -4px;
}

.tooltip[data-popper-placement^='left'] > .arrow {
  right: -4px;
}

.tooltip[data-popper-placement^='right'] > .arrow {
  left: -4px;
}
